@model Microsoft.eShopWeb.ApplicationCore.Entities.BankingOperations

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>BankingOperations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OperationLabel" class="control-label"></label>
                <input asp-for="OperationLabel" class="form-control" />
                <span asp-validation-for="OperationLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credit" class="control-label"></label>
                <input asp-for="Credit" class="form-control" />
                <span asp-validation-for="Credit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Debit" class="control-label"></label>
                <input asp-for="Debit" class="form-control" />
                <span asp-validation-for="Debit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationDate" class="control-label"></label>
                <input asp-for="OperationDate" class="form-control" />
                <span asp-validation-for="OperationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankingDate" class="control-label"></label>
                <input asp-for="BankingDate" class="form-control" />
                <span asp-validation-for="BankingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
